a{
    text-decoration: none;
}
body{
    font-size: 30px;
    margin:0;
    /* display:flex; */
    background:linear-gradient(#08c,#5ff);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body div{
    margin: 20px auto;
}

header h1{
    text-align: center;
    color:rgb(0, 217, 255);
    text-shadow: 5px 5px 2px rgba(0,0,0,0.5);
    text-shadow:  -2px -2px -1px rgba(255,255,255,0.5);
}

footer{
    background: url("img/banner.png") center bottom;
    background-size: cover;
    height:400px;
    background-repeat: no-repeat;
}


/* .main-icon{
    width:200px;
    height:200px;
    border-radius: 50%;
    border:blue 10px solid ;
    background:url("img/MDGicon.jpg") center top;
    background-size: 100%;
} */

.introduction{
    width:100%;
    height:450px;

    display:flex;
}

.introduction img{
    width:300px;
    height:400px;
    margin:25px 10px;
}

.sp-baloon{
    font-size: 24px;
    border-width:97%;
    height:400px;
    margin:25px 2% 25px 1%;
    padding: 15px;
    background-color: rgb(190, 245, 255);
    border-radius: 10%;
    box-shadow: 10px 10px 2px rgba(0,0,0,0.5);
    overflow:hidden;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
}

.sp-baloon p{
    margin:0.5em
}

.tempdel{
    /* 一時的な字消し線用の設定 */
    text-decoration: solid line-through 5px darkblue;
}

.page-list{
    color: rgb(211, 98, 255);
    text-shadow: rgba(255,255,255,0.8) -1px -1px 1px;
    /* text-shadow: rgba(0,0,0,0.5) 1px 1px 1px; */
    margin: 50px 20px;
    padding: 5px 10px;
    background:radial-gradient(rgb(17, 184, 226),rgb(15, 219, 168)) ;
    border-radius: 20px;
    border: blue double 5px;
}
.page-list ul{
    padding:0;
    width:100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.page-link{
    color:darkred;
    border-radius: 10%;
    padding:20px 30px;
    background: linear-gradient(45deg,#5ff,#08f);
    border:double 3px darkblue;
    text-align: center;
}
.page-link:hover{
    transition:all ease-out 0.2s;
    filter:brightness(120%);
    transform: scale(1.1);
}



.link-list ul{
    padding:0;
    width:100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.link-list img{
    border:solid blue 3px;
    border-radius: 50%;
    margin: 10px;
    width: 400px;
    height: 200px;
    /* perspective: 500px; */
}
.link-list img:hover{
    /* opacity: 50%; */
    transition: all 0.3s linear;
    transform: scale(1.2);

}
